In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('revenue.csv')
df

         company  revenue
0         Tesla      31.0
1           UBER     11.0
2         Amazon    386.0
3  Jindal  Steel      4.7
4      Axis Bank      5.6
5        Vedanta     11.3