In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('income.csv', names=['name','income'], skiprows=[0])
df

        name    income
0        Rob      5000
1      Rafiq      6000
2       Nina      4000
3      Sofia      7500
4      Mohan      8000
5        Tao      7000
6  Elon Musk  10000000

In [4]:
df.income.describe()

count    7.000000e+00
mean     1.433929e+06
std      3.777283e+06
min      4.000000e+03
25%      5.500000e+03
50%      7.000000e+03
75%      7.750000e+03
max      1.000000e+07
Name: income, dtype: float64

In [5]:
df.income.quantile(0)

4000.0

In [6]:
df.income.quantile(0.25,interpolation="higher")

6000

In [7]:
df.income.quantile(0.5,interpolation="higher")

7000

In [8]:
df.income.quantile(0.75)

7750.0

In [9]:
df.income.quantile(1)

10000000.0