In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
data = {
    'Name':['Rob','Thomas', 'Nina','Mittal','Sofia', 'Mohan', 'Tao', 'Deepika', 'Rafiq'],
    'Height':[6.2, 5.7,4.6,5.4,5.9,43,5.1,5.2,4.9]
}
df = pd.DataFrame(data)
df

      Name  Height
0      Rob     6.2
1   Thomas     5.7
2     Nina     4.6
3   Mittal     5.4
4    Sofia     5.9
5    Mohan    43.0
6      Tao     5.1
7  Deepika     5.2
8    Rafiq     4.9

TypeError: bar() missing 1 required positional argument: 'height'