In [1]:
import pandas as pd 
import numpy as np

In [5]:
Name = ['Mohan', 'Andrea','Sofia','Joe','Virat', 'Abdul']
Score =[93,96,43,47,51,51,90]
print(Name,Score)

['Mohan', 'Andrea', 'Sofia', 'Joe', 'Virat', 'Abdul'] [93, 96, 43, 47, 51, 51, 90]

In [7]:
data ={
    'Name':['Mohan', 'Andrea','Sofia','Joe','Virat', 'Abdul'],
    'Score':[93,96,43,47,51,90]
}
df = pd.DataFrame(data)
df

     Name  Score
0   Mohan     93
1  Andrea     96
2   Sofia     43
3     Joe     47
4   Virat     51
5   Abdul     90

In [13]:
df.shape

(6, 2)

In [14]:
df.max()

Name     Virat
Score       96
dtype: object

In [15]:
df.describe()

           Score
count   6.000000
mean   70.000000
std    25.392912
min    43.000000
25%    48.000000
50%    70.500000
75%    92.250000
max    96.000000

In [17]:
df['Score'].max()

96

In [18]:
df['Score'].mean()

70.0

In [19]:
df['Score'].median()

70.5

In [20]:
df['Score'].mode()

0    43
1    47
2    51
3    90
4    93
5    96
Name: Score, dtype: int64